@model WeatherViewModel

@{
    ViewData["Title"] = "Home Page";
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

<h2 class="text-center">Weather Forecast Lookup</h2>

<div class="container">
    @if (Model != null)
    {
        @if (Model.ErrorMessage != null)
        {
            <h2>@Model.ErrorMessage</h2>
        }
        else
        {
            <div class="results">
                <div>
                    <span style="font-size: 20px;">@Model.Location.Name, @Model.Location.Region, @Model.Location.Country</span>
                </div>
                <div class="result">
                    <img src="@Model.Current.Condition.Icon" height="28" />
                    <span id="currentTemp">@Model.Current.TemperatureCelsius</span>
                    <span style="font-size: 18px;" class="mdi mdi-water-outline"></span>
                    <span>@Model.Current.Humidity</span>
                </div>
                <div class="result">
                    <span style="color: #2b7cb0" class="mdi mdi-thermometer-low"></span>
                    <span id="minTemp">@Model.Day.MinTemperatureCelsius</span>
                    <span style="color: #ff9600" class="mdi mdi-thermometer"></span>
                    <span id="avgTemp">@Model.Day.AverageTemperatureCelsius</span>
                    <span style="color: #a50000" class="mdi mdi-thermometer-high"></span>
                    <span id="maxTemp">@Model.Day.MaxTemperatureCelsius</span>
                </div>
                <div class="result">
                    <span class="mdi mdi-weather-sunset-down"></span>
                    <span>@Model.Astrology.Sunset</span>
                    <span>|</span>
                    <span>@Model.Astrology.Sunrise</span>
                    <span class="mdi mdi-weather-sunset-up"></span>
                </div>
            </div>
        }
    }

    <form asp-controller="Weather" asp-action="Index" id="locationForm" style="padding: 20px; width: 40%;" autocomplete="off">
        <div class="form-floating flex">
            <input type="text" class="form-control" id="location" name="location" placeholder="New York">
            <label for="location">Location</label>
            <button tabindex="-1" type="submit" class="btn"><span class="mdil mdil-magnify check"></span></button>
            <ul id="searchDropdown" tabindex="1" class="dropdown-menu dropdownMenu" data-popper-placement="bottom-start">
            </ul>
        </div>
    </form>


    @if (Model != null && Model.ErrorMessage == null)
    {
        <div style="flex-direction: row;">
            <button type="button" class="btn" id="celsius" value="1" style="color: green"><span class="mdi mdi-temperature-celsius"></span></button>
            <button type="button" class="btn" id="fahrenheit"><span class="mdi mdi-temperature-fahrenheit"></span></button>
        </div>
    }
</div>

<script type="text/javascript">
    var celsiusBtn = document.getElementById("celsius");
    var fahrenheitBtn = document.getElementById("fahrenheit");

    var currentTemp = document.getElementById("currentTemp");
    var minTemp = document.getElementById("minTemp");
    var avgTemp = document.getElementById("avgTemp");
    var maxTemp = document.getElementById("maxTemp");

    var inputField = document.getElementById("location");
    var searchDropdown = document.getElementById("searchDropdown");

    var locationForm = document.getElementById("locationForm");

    document.addEventListener('DOMContentLoaded', function () {
        inputField.focus();
    });

    function getAutocompleteData(locationString) {
        $.ajax({
            url: '@Url.Action("AutocompleteData","Weather")',
            type: 'GET',
            data: {
                location: locationString
            },
            success: function (response) {
                // Handle the successful response from the controller
                console.log("success: " + JSON.stringify(response));
                searchDropdown.classList.add("show");
                createDropdown(response);
            },
            error: function (xhr, status, error) {
                // Handle any errors that occur during the request
                console.error("error: " + error);
            }
        });
    }

    var lastInputTime = 0;
    var lastLocationString = "";
    var timeoutPeriod = 2; // in seconds

    inputField.addEventListener("keyup", function (event) {
        var locationString = inputField.value;
        var currentTime = Date.now();

        //Date.now() - lastInputTime > timeoutPeriod * 1000 &&
        if (locationString.length > 4 && lastLocationString != locationString) {
            lastLocationString = locationString;
            lastInputTime = Date.now();
            getAutocompleteData(locationString);
        }
    })

    function createDropdown(listLocations) {
        while (searchDropdown.firstChild) { // Remove all old autocomplete suggestions
            searchDropdown.removeChild(searchDropdown.firstChild);
        }

        if (listLocations.length == 0){
            var liDropdown = document.createElement("li");
            liDropdown.setAttribute("tabindex", "0");

            var aDropdown = document.createElement("a");
            aDropdown.textContent = "No matching locations found.";
            aDropdown.classList.add("dropdown-item");

            liDropdown.appendChild(aDropdown);
            searchDropdown.appendChild(liDropdown);
            return;
        }

        for (let i = 0; i < listLocations.length; i++) {
            var liDropdown = document.createElement("li");
            liDropdown.setAttribute("tabindex", "0");

            var aDropdown = document.createElement("a");
            aDropdown.textContent = listLocations[i].name + ", " + listLocations[i].region + ", " + listLocations[i].country;
            aDropdown.classList.add("dropdown-item");
            liDropdown.addEventListener('keyup', function (event) {
                if (event.key === 'Enter') {
                    inputField.value = listLocations[i].name + ", " + listLocations[i].region + ", " + listLocations[i].country;
                    searchDropdown.classList.remove("show");
                    inputField.focus();
                }
            })
            liDropdown.addEventListener('click', function (event) {
                inputField.value = listLocations[i].name + ", " + listLocations[i].region + ", " + listLocations[i].country;
                searchDropdown.classList.remove("show");
                inputField.focus();
            })

            liDropdown.appendChild(aDropdown);
            searchDropdown.appendChild(liDropdown);
        }
    }
</script>

@if (Model != null && Model.ErrorMessage == null)
{
    <script type="text/javascript">
        fahrenheitBtn.addEventListener("click", function () {
            if (celsiusBtn.value == 1) { // On Fahrenheit, change to Celsius
                currentTemp.textContent = @Model.Current.TemperatureFahrenheit;
                minTemp.textContent = @Model.Day.MinTemperatureFahrenheit;
                avgTemp.textContent = @Model.Day.AverageTemperatureFahrenheit;
                maxTemp.textContent = @Model.Day.MaxTemperatureFahrenheit;

                celsiusBtn.style.color = "black";
                fahrenheitBtn.style.color = "green";

                celsiusBtn.value = 0;
                return
            }
        })

        celsiusBtn.addEventListener("click", function () {
            if (celsiusBtn.value == 0) // On Celsius, change to Fahrenheit
            {
                currentTemp.textContent = @Model.Current.TemperatureCelsius;
                minTemp.textContent = @Model.Day.MinTemperatureCelsius;
                avgTemp.textContent = @Model.Day.AverageTemperatureCelsius;
                maxTemp.textContent = @Model.Day.MaxTemperatureCelsius;

                celsiusBtn.style.color = "green";
                fahrenheitBtn.style.color = "black";

                celsiusBtn.value = 1;
                return
            }
        })
    </script>
}